/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}

.sideMenu .button {
    -fx-background-color: #E0EAFF;
    -fx-background-radius:0;
    -fx-border-width: 0;
    -fx-text-fill: #074ee8;
}

.sideMenu .button:hover {
    -fx-background-color: #E0EAFF;
}
